<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00</td>
        <td>Welcome<br><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r.html">Introduction to R</a></td>
      </tr>
      <tr>               
        <td>10:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch</td>
      </tr>      
      <tr>
        <td>13:30</td>
        <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine</a></td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data.html">Starting with Data in R - Part 1</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>                                   
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>Welcome<br><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data.html">Starting with Data in R - Part 2</a></td>
      </tr>
      <tr>               
        <td>10:15</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr.html">Data Wrangling with R - Part 1</a></td>
      </tr>
      <tr>
        <td>11:30</td>
        <td>Break</td>
      </tr>      
      <tr>
        <td>11:45</td>
        <td><a href="https://datacarpentry.org/r-socialsci/04-tidyr.html">Data Wrangling with R - Part 2</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td><a href="https://cforgaci.github.io/r-socialsci/08-quarto.html">Introduction to Quarto</a></td>
      </tr>
      <tr>
        <td>14:25</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>14:35</td>
        <td><a href="https://datacarpentry.org/r-socialsci/05-ggplot2.html">Data Visualization with R</a></td>
      </tr>
      <tr>
        <td>15:50</td>
        <td>Break</td>
      </tr>  
      <tr>
        <td>16:05</td>
        <td><a href="https://datacarpentry.org/r-socialsci/05-ggplot2.html">Data Visualization with R</a></td>
      </tr>        
      <tr>
        <td>16:50</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>  
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>  
    </table>
  </div>
</div>
